<div class="row">
    <div class="col-xs-12">
        <!-- [formGroup]="courseForm" is taking the reference from the ts file for the form. -->
        <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="courseName">Course Name</label>
                    <input type="text" id="courseName" class="form-control" formControlName="courseName">
                </div>
                <div class="col-sm-12 form-group">
                    <label for="courseDesc">Course Description</label>
                    <input type="text" id="courseDesc" class="form-control" formControlName="courseDesc">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="courseAmount">Course Amount</label>
                    <input type="text" id="courseAmount" class="form-control" formControlName="courseAmount">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button style="margin-left: 7px; margin-top: 3px" class="btn btn-success" type="submit">Add</button>
                    <button style="margin-left: 7px; margin-top: 3px" class="btn btn-danger" type="button">Delete</button>
                    <button style="margin-left: 7px; margin-top: 3px" class="btn btn-primary" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>